
<!-- <div id="wrapper"> -->



    <header>

      <h1 class="inner__content">
        {{ templates.title }}
  		    <a href= "{{ templates.designer_link }}" > {{ templates.designer }}</a>.
      </h1>
  		<p class="inner__grid">
        {{ templates.description }}
      </p>

  	</header>

<!-- </div> -->
