<div class="thumbnail-grid">
  <section class="tiles">


{% for item in items|slice(0,3) %}
    {% include "@molecules/box-thumbnail.twig" with {
    class: item.class,
     img: item.image,
     link: item.link,
     title: item.title,
     content: item.content
    } %}


{% endfor %}

  </section>
</div>
