<section>
	<h2>Follow</h2>
	<ul class="icons">
    {% for icon in icons %}
			<li><a href="#" class="{{ icon.class }}"><span class="label">{{  icon.name }}</span></a></li>
    {% endfor %}
	</ul>
</section>
