<div class="main">
  <div class="inner">
    
  {% include "@templates/phantom-content.twig" %}
  {% include "@organisms/thumbnail-grid.twig" %}

  </div>

</div>

<footer id="footer">
  <div class="inner">

    {% include "@atoms/social-media.twig" %}

  </div>

</footer>
